#### In this Video We will Cover
- PySpark Dataframe 
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

24/09/25 10:55:27 WARN Utils: Your hostname, codespaces-3bc546 resolves to a loopback address: 127.0.0.1; using 10.0.5.193 instead (on interface eth0)
24/09/25 10:55:27 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/25 10:55:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

24/09/25 10:55:43 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [3]:
spark

In [3]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [4]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [6]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+----+----------+-------+
|     Name| age|Experience| Salary|
+---------+----+----------+-------+
|    Krish|31.0|      10.0|30000.0|
|Sudhanshu|30.0|       8.0|25000.0|
|    Sunny|29.0|       4.0|20000.0|
|     Paul|24.0|       3.0|20000.0|
|   Harsha|21.0|       1.0|15000.0|
|  Shubham|23.0|       2.0|18000.0|
|    Vivek|34.0|      14.0| 1.0E10|
+---------+----+----------+-------+

In [7]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [8]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [9]:
df_pyspark.head(3)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000),
 Row(Name='Sunny', age=29, Experience=4, Salary=20000)]

In [10]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [12]:
df_pyspark.select(['Name','Salary']).show()

+---------+------+
|     Name|Salary|
+---------+------+
|    Krish| 30000|
|Sudhanshu| 25000|
|    Sunny| 20000|
|     Paul| 20000|
|   Harsha| 15000|
|  Shubham| 18000|
+---------+------+

In [15]:
df_pyspark['Name']

Column<'Name'>

In [16]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [17]:
df_pyspark.describe().show()

24/09/20 14:04:49 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [18]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [19]:
df_pyspark.show()

+---------+---+----------+------+-----------------------+
|     Name|age|Experience|Salary|Experience After 2 year|
+---------+---+----------+------+-----------------------+
|    Krish| 31|        10| 30000|                     12|
|Sudhanshu| 30|         8| 25000|                     10|
|    Sunny| 29|         4| 20000|                      6|
|     Paul| 24|         3| 20000|                      5|
|   Harsha| 21|         1| 15000|                      3|
|  Shubham| 23|         2| 18000|                      4|
+---------+---+----------+------+-----------------------+

In [20]:
### Salary after 2 years
df_pyspark=df_pyspark.withColumn('Salary After 2 years', df_pyspark['Salary']+(df_pyspark['Salary']*20/100))

In [21]:
df_pyspark.show()

+---------+---+----------+------+-----------------------+--------------------+
|     Name|age|Experience|Salary|Experience After 2 year|Salary After 2 years|
+---------+---+----------+------+-----------------------+--------------------+
|    Krish| 31|        10| 30000|                     12|             36000.0|
|Sudhanshu| 30|         8| 25000|                     10|             30000.0|
|    Sunny| 29|         4| 20000|                      6|             24000.0|
|     Paul| 24|         3| 20000|                      5|             24000.0|
|   Harsha| 21|         1| 15000|                      3|             18000.0|
|  Shubham| 23|         2| 18000|                      4|             21600.0|
+---------+---+----------+------+-----------------------+--------------------+

In [22]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [23]:
df_pyspark.show()

+---------+---+----------+------+--------------------+
|     Name|age|Experience|Salary|Salary After 2 years|
+---------+---+----------+------+--------------------+
|    Krish| 31|        10| 30000|             36000.0|
|Sudhanshu| 30|         8| 25000|             30000.0|
|    Sunny| 29|         4| 20000|             24000.0|
|     Paul| 24|         3| 20000|             24000.0|
|   Harsha| 21|         1| 15000|             18000.0|
|  Shubham| 23|         2| 18000|             21600.0|
+---------+---+----------+------+--------------------+

In [24]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+---------+---+----------+------+--------------------+
| New Name|age|Experience|Salary|Salary After 2 years|
+---------+---+----------+------+--------------------+
|    Krish| 31|        10| 30000|             36000.0|
|Sudhanshu| 30|         8| 25000|             30000.0|
|    Sunny| 29|         4| 20000|             24000.0|
|     Paul| 24|         3| 20000|             24000.0|
|   Harsha| 21|         1| 15000|             18000.0|
|  Shubham| 23|         2| 18000|             21600.0|
+---------+---+----------+------+--------------------+